header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;

  & .index-logo img {
    height: 4rem;
  }

  & .index-navigation-header {
    display: flex;
    align-items: center;
    gap: 25px;

  }

  & .index-navigation-header a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s;
  }

  & .index-navigation-header a:hover {
    color: #ffd700;
  }
}